<html ng-app=starter>
<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Esercizio</title>
  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="cordova.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
</head>
<body ng-controller=MainCtrl>
<ion-side-menus>

  <ion-side-menu-content>
    <!-- Barra del menu -->
    <div class="bar bar-header bar-balanced">
      <button class="button" ng-click=openMenu()>
        <i class="ion-navicon-round"></i>
      </button>
      <h1 class="title">Esercizio</h1>
      <button class="button" ng-click=clear()>
        <i class="ion-trash-a"></i>
      </button>
    </div>

    <!-- Conenuto app -->
    <ion-content class="has-header padding">
      <div class="list card">
        <div class="item item-text-wrap" ng-hide=comments.length>
          <p>Nessun commento inserito!!!</p>
        </div>
        <div class="item item-avatar" href="#" ng-show=comments.length
          ng-repeat-start="c in comments track by $index">
          <img src="img/male.png" alt="male" ng-if=c.sesso>
          <img src="img/female.png" alt="female" ng-if=!c.sesso>
          <h2>{{c.nome}}</h2>
          <p>{{c.email}}</p>
          <p>{{c.data|date:format:"dd-MM-yyyy - HH:mm"}}</p>
        </div>
        <div class="item item-body" ng-show=comments.length ng-repeat-end>
          <p>{{c.testo}}</p>
        </div>
      </div>
    </ion-content>
  </ion-side-menu-content>

  <!-- Menu App -->
  <ion-side-menu side=left>
    <div class="bar bar-header bar-balanced">
        <button class=button ng-click=add(comment)>
           <i class="ion-android-send"></i>
         </button>
      <h1 class="title">Nuovo commento</h1>
    </div>
    <div class="content has-header">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder=Nome ng-model=comment.nome>
        </label>
        <label class="item item-input">
          <input type="email" placeholder=Email ng-model=comment.email>
        </label>
        <label class="item item-radio">
          <input type="radio" name=gender value=1 ng-model=comment.sesso>
          <div class="item-content">Maschio</div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
          <input type="radio" name=gender value=0 ng-model=comment.sesso>
          <div class="item-content">Femmina</div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-input">
          <textarea placeholder="Inserisci qui il tuo commento"
            ng-model=comment.testo>
          </textarea>
        </label>
      </div>
    </div>
  </ion-side-menu>

</ion-side-menus>
</body>
</html>
